<div class="header">
	<%= image_tag("header.png") %>
</div>

<div class="underline">
</div>

<div class="nav">
	<ul>
		<li><%= link_to "NEW", items_path %></li>
		<li><%= link_to "RANKINGS", list_items_path %></li>
		<li><%= link_to_url "SHOP", "www.nicolemiller.com", :target => "_blank" %></li>
	</ul>
</div>