
<div class="container">
	
<div class="list">
	
	<% i = 0 %>
	<div class="row">
		<% @items.each do |item| %>
			<ul>
				<li class = "list_image">
					<ul>
						<li><%= link_to image_tag(item.image_front), item.link, :target => "_blank" %></li>
						<li class="list_rank"><p><%= item.number %><p></li>
						<li class="buy" id="buythat">
							<%= link_to image_tag('buy.png'), @item2.link, :target => 'blank' %>
						</li>
					</ul>
				</li>
				
			</ul>
		<% end %>
	</div>
	<div class="footer">
	</div>
	
</div>
</div>
