<head>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="container">

	<%= render item %>
	
	<% i = 0 %>
	<div class="row">
		<% @items.each do |item| %>
			<ul>
				<li class = "list_image">
					<ul>
						<li><%= image_tag(item.image_front) %></li>
						<li class="list_rank"><%= item.number %></li>
						<li class = "list_purchase"><%= link_to image_tag("buy_long.gif"), item.link, :target => "_blank" %></li>
					</ul>
				</li>
			</ul>
		<% end %>
	</div>

</div>
<body>