// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	margin: 0;
	padding: 0;
}

body {
	background: #eeeeee;
	width: 100%;
}

.container {
	position: relative; 
	width: 810px;
	margin: auto;
}

.header {
	width: 790px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 200;
	position: absolute;
	left: 5px;
}


.underline {
	width: 810px;
	height: 30px;
	position: absolute;
	top: 55px;
	opacity: 0.5;
	z-index: 1;
	// background-color: #554F56;
	background-color: #00ffcc;
}

.nav {
	position: absolute;
	top: 65px;
	z-index: 201;
	left: 440px;
}

.nav li{
	display: inline;
	width: 50px;
	height: 30px;
	margin: 0 10px 0 10px;
}

.nav a {
	width: 50px;
	height: 30px;
	color: black; 
	padding: 12px 10px 0px 10px;
	font-family:"Special Elite", ‘Arial Black’, Gadget, sans-serif;
}

.nav a:hover {
	color: black;
	background-color: #13efc3;
	//opacity: 0.8;
}


.options {
	width: 810px;
	position: relative;
	margin: auto;
}



.filler {
	width: 300px;
	height: 32px;
	background-color: black;
}


.mash ul {
	list-style-type: none;
	margin: auto;
}

.mash li {
	float: left;
	width: 200px;
	margin: auto 30px auto 30px;
}

div {
	clear: both;
}

.ranking {
	width: 100px;
	margin: 20px auto 20px auto;
}

.mash {
	width: 570px;
	height: 450px;
	margin: auto;
	position: absolute;
	top: 115px;
	left: 120px;
}

.front {
	position: absolute;
	top: 10px;
	left: 10px;
}

.back {
	// display: none;
	visibility: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	
}

.inner {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.image a{
	width: 200px;
	overflow: hidden;
	height: 422px;
	position: absolute;
	border: 10px solid #424242;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
}

.image img {
	width: 300px;
	position: relative;
	left: -50px;
}

.image:hover {
	.back {
		//display: inline;
		visibility: visible;
	}
}


.left, .right {
	position: relative;
	margin:0;
	width:200px;
}


.button a{
	font-size: 48px;
	font-family:"Special Elite", ‘Arial Black’, Gadget, sans-serif;	
	color: #FFFFFF;
	position: relative;
	top: 470px;
	left: -10px;
	margin: auto;
	width: 200px;
	height: 50px;
	display: block;
	line-height: 65px;
	vertical-align: middle;
	
	background-color: black;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button a:hover {
	opacity: 0.6;
}

#or {
	position: relative;
	width: 100px;
	margin: auto;
	top: 395px;
	left: -3px;
}

#or img {
	width: 100px;
}

#or img:hover {
}

.purchase {
	position: relative;
	margin: 30px;
	width: 149px;
	overflow: hidden;
	left: 40px;
}

.purchase img {
	width: 300px;
}

.purchase img:hover {
	left: -150px;
}


// LIST PAGE

.list {
	position: relative;
	top: 100px;
}

.row {
	position: relative;
	width: 750px;
	margin: auto;
}

.list_image {
	width: 160px;
	height: 282px;
	float: left;
	margin: 10px;
	overflow: hidden;
	border: 3px solid #424242;
	position: relative;
}

.list_image img {
	width: 200px;
	position: relative;
	left: -20px;
}

.list_rank {
	font-family: 'Special Elite', sans-serif;
	width: 30px;
	height: 30px;
	background-color: #00ffcc;
	border: 2px solid black;
	position: absolute;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	z-index:400;
	
}

.footer {
	height: 20px;
}
