// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	margin: 0;
	padding: 0;
}

body {
	background: #eeeeee;
	width: 100%;
}

body#index {
	height: 600px;
	overflow: hidden;
}

.container {
	position: relative; 
	width: 810px;
	margin: auto;
	top: 100px;
}

.container_index {
	position: relative;
	width: 810px;
	height: 500px;
	margin: auto;
}

.header {
	width: 600px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 200;
	// left: 5px;
	padding-top: 15px;
	position: absolute;
}


.underline {
	width: 810px;
	height: 30px;
	position: absolute;
	top: 55px;
	opacity: 0.5;
	z-index: 1;
	// background-color: #554F56;
	background-color: #00ffcc;
}

.nav {
	position: relative;
	top: -100px;
}

.nav li{
	//display: inline;
	margin: 0 auto 0 auto;
	width: 200px;
	text-align: center;
	top: 30px;

}

#play {

}

#play a {
	
}

#rankings {
	position: absolute;
	top: 310px;
	left: 330px;
	margin: auto;
	clear: both;
	width: 150px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#rankings img {
	width: 150px;
}

#rankings a:hover {
	opacity: .7;
}

.nav a {
	width: 200px;
	height: 20px;
	color: black; 
	font-family:"Special Elite", ‘Arial Black’, Gadget, sans-serif;
}

.nav a:hover {
	color: white;
	background-color: black;
	//opacity: 0.8;
}


.options {
	width: 810px;
	position: relative;
	margin: auto;
}



.filler {
	width: 300px;
	height: 32px;
	background-color: black;
}


.mash ul {
	list-style-type: none;
	margin: auto;
}

.mash li {
	float: left;
	width: 200px;
	margin: auto 30px auto 30px;
}

div {
	clear: both;
}

.rankings {
	width: 100px;
	margin: 20px auto 20px auto;
}

.mash {
	width: 570px;
	height: 450px;
	margin: auto;
	position: absolute;
	//top: -70px;
	left: 100px;
}

.front {
	position: absolute;
	top: 10px;
	left: 10px;
}

.back {
	// display: none;
	visibility: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	
}

.inner {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.image a{
	width: 200px;
	overflow: hidden;
	// height: 422px;
	height: 327px; // from 350
	position: absolute;
	border: 10px solid #424242;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
}

.image img {
	// width: 300px;
	width: 232px; // from 250
	position: relative;
	left: -15px;
}

.image:hover {
	.back {
		//display: inline;
		visibility: visible;
	}
}


.left, .right {
	position: relative;
	margin:0;
	width:200px;
}

.right {
	left: 300px;
}

.button {
	position: absolute;
	z-index: 0;
	float:left;
	display: inline;
	clear: none;
	top: 35px;

	font-size: 72px;
	font-family:"Special Elite", ‘Arial Black’, Gadget, sans-serif;	
	color: #FFFFFF;

	margin: auto;
	width: 260px;
	height: 70px;
	display: inline-block;
	line-height: 90px;
	vertical-align: middle;
	
	background-color: black;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button a, .button a:hover {
	color: white;
}

#this {
	text-align: left;
	padding-left: 40px;
	color: white;
	left: 50px;
}

#that {
	text-align: right;
	padding-right: 40px;
	color: white;
	left: 250px;
}

#or {
	display: inline-block;
	position: absolute;
	width: 150px;
	margin-left: 330px;
	z-index: 2;
	//top: -75px;
}

#or img {
	width: 150px;
}

#or img:hover {
}

.purchase {
	position: relative;
	margin: 30px;
	width: 149px;
	overflow: hidden;
	left: 40px;
}

.purchase img {
	width: 300px;
}

.purchase img:hover {
	left: -150px;
}

.buy {
	position: absolute;
	top: 25px;
	z-index: 5;
}

.buy img{
	width: 50px;
	opacity: 1;
}

.buy a:hover{
	opacity: .7;
}

#buythis {
	left: 55px;
}

#buythat {
	left: 495px;
}


// LIST PAGE

.list {
	position: relative;
	top: -80px;
}

.row {
	position: relative;
	width: 750px;
	margin: auto;
}

.list_image {
	width: 160px;
	height: 282px;
	float: left;
	margin: 10px;
	overflow: hidden;
	border: 3px solid #424242;
	position: relative;
}

.list_image img {
	width: 200px;
	position: relative;
	left: -20px;
	float: left; // Just added!
	z-index: 1;
}

.list_rank {
	font-family: 'Special Elite', sans-serif;
	color: black;
	width: 22px;
	height: 40px;
	background-color: #00ffcc;
	
	float: left;
	position: relative;
	
	z-index:400;
	
	top: -285px;
	left: 10px;
	
}

.list_rank p {
	position: relative;
	left: 2px;
	top: 20px;
}

.footer {
	height: 20px;
}
