// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

body {
	background: #eeeeee;
	width: 100%;
}

.container {
	position: relative; 
	width: 810px;
	margin: auto;
}

.header {
	width: 790px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 200;
	position: absolute;
	left: 5px;
}


.underline {
	width: 810px;
	height: 30px;
	position: absolute;
	top: 55px;
	opacity: 0.5;
	z-index: 1;
	// background-color: #554F56;
	background-color: #00ffcc;
}

.nav {
	position: absolute;
	top: 65px;
	z-index: 201;
	left: 420px;
}

.nav li{
	display: inline;
	width: 50px;
	height: 30px;
	margin: 0 10px 0 10px;
}

.nav a {
	width: 50px;
	height: 30px;
	color: black; 
	padding: 10px 10px 0px 10px;
}

.nav a:hover {
	color: black;
	background-color: #00ffcc;
	opacity: 0.8;
}


.options {
	width: 810px;
	position: relative;
	margin: auto;
}



.filler {
	width: 300px;
	height: 32px;
	background-color: black;
}


.mash ul {
	list-style-type: none;
	margin: auto;
}

.mash li {
	float: left;
	width: 300px;
	margin: auto 20px auto 20px;
}

div {
	clear: both;
}

.ranking {
	width: 100px;
	margin: 20px auto 20px auto;
}

.mash {
	width: 680px;
	height: 450px;
	margin: auto;
	position: absolute;
	top: 115px;
	left: 50px;
}

.front {
	position: absolute;
	top: 10px;
	left: 10px;
}

.back {
	// display: none;
	visibility: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	
}

.image a{
	width: 200px;
	overflow: hidden;
	height: 422px;
	position: absolute;
	
}

.image img {
	width: 300px;
	position: relative;
	left: -40px;
}

.image:hover {
	.back {
		//display: inline;
		visibility: visible;
	}
	.purchase {
		top: -415px;
	}
}

.list_image {
	width: 180px;
	float: left;
	margin: 10px 0 10px 0;
}

.list_image img {
	width: 200px;
}

.list_purchase {
	position: relative;
	left: 35px;
	width: 170px;
	overflow: hidden;
	margin: auto;
}

.list_purchase img:hover {
	position: relative;
	left: -171px;
}

.list_purchase img {
	width: 340px;
}

.left, .right {
	position: relative;
}

#or {
	position: relative;
	width: 100px;
	margin: auto;
	top: -400px;
}

#or img {
	width: 100px;
}

.purchase {
	position: relative;
	margin: 30px;
	width: 149px;
	overflow: hidden;
	left: 40px;
}

.purchase img {
	width: 300px;
}

.purchase img:hover {
	left: -150px;
}

.list_rank {
	font-family: 'Quicksand', sans-serif;
	width: 30px;
	height: 30px;
	background-color: #a3ffff;
	position: absolute;
}



